* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  padding: 0 1em;
}

header.main {
  height: 4.5em;
  float: left;
}

img.logo {
  margin: 0 auto;
  height: 100%;
}

header.main > div.logo {
  background-color: white;
  padding: 1em;
}

header.main > div {
  float: left;
  height: 100%;
  padding: 0 1.5em;
  vertical-align: top;
}

header.main > div:not(.logo) {
  border-right: 1px solid #ccc;
  line-height: 1em;
  padding-top: 2.5em;
}

.main-content {
  clear: left;
  margin-right: 25em;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5em 2.5em 1em 0;
}

.side {
  float: right;
  width: 25em;
}

.side > div {
  font: 1em sans-serif;
}

.side > .side-container {
  background-color: #F9F9F9;
  margin: 2em 0;
  padding: 2em 2em 2.5em 1.5em;
  border: 1px solid #ccc;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.side-container h2 {
  color: #41B7D8;
}

.side > .search {
  margin: 3em 0.5em 3em 1.5em;
  color: #aaa;
}

.side > .newsletter {
}

.side > .books {
}

.side > .hosted {
}

.ads {
  margin: 3em 0;
  margin-right: 25em;
}

.ad {
  display: inline-block;
  width: 30%;
  margin: 0 1.4%;
  background-color: #ccc;
}

.toc {
  float: left;
  width: 11em;
  margin: 0 1.5em 3.5em 1.5em;
}

.main-content:after {
  content: "";
  display: block;
  clear: left;
}

.toc > .sub {
  display: inline-block;
  width: 100%;
  background-color: #ddd;
  margin-bottom: 2em;
}

.articles {
  background-color: #ccc;
  margin-left: 14em;
}

.articles > article > img {
  width: 80%;
}

.input-button {
  height: 2.5em;
  width: 100%;
  margin: 1em 0;
}

.input-button:after {
  content: "";
  display: block;
  clear: left;
}

.input-button > button {
  float: left;
  width: 6em;
  cursor: pointer;
  height: 100%;
  border: 1px solid #ccc;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #E53D2C;
  color: white;
}

.input-button > input {
  float: left;
  width: 15em;
  height: 100%;
  border: 1px solid #ccc;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-right: none;
  padding: 0 .5em;
}

.input-button > *:focus {
  outline: none;
}
